<template>
    <div class="container">
        <b-navbar type="light" variant="primary">
            <div class="w-100 d-flex position-relative justify-content-center">
                <b-button v-b-toggle.sidebar-1 variant="primary" class="sidebar-btn-contacts">
                    <font-awesome-icon :icon="['fas', 'id-badge']"/>
                    Contacts
                </b-button>
                <h3 class="header-title">VChat</h3>
            </div>
            <b-nav-form class="side-bar-form">
                <b-sidebar id="sidebar-1" title="Sidebar" shadow>
                    <users-list v-for="(u,index) in users"
                                :key="index"
                                :class="{'active': u.id === user.id}"
                                :user="u"
                                class="side-bar-users-list"
                    />
                </b-sidebar>
            </b-nav-form>
        </b-navbar>
        <div class="mt-4">
            <div class="row mb-3">
                <div class="col-4">
                    <b-list-group class="users-list">
                        <users-list v-for="(u,index) in users"
                                    :key="index"
                                    :user="u"
                        />
                    </b-list-group>
                </div>
                <div class="col-12 col-md-8">
                    <b-card no-body class="text-center">
                        <chat-message
                                v-for="(m, index) in messages"
                                :key="index"
                                :message="m"
                                :user="user"
                        />
                    </b-card>
                </div>
            </div>
            <b-form-input
                    class="mb-3"
                    placeholder="Type your message..."
                    v-model.trim="massage"
                    autocomplete="false"
                    @keydown.enter="sendMessage"
            ></b-form-input>
            <b-button
                    variant="primary"
                    @click="sendMessage"
            >Send
            </b-button>
        </div>
    </div>
</template>

<script>
    import io from "socket.io-client"
    import ChatMessage from "./ChatMessage";
    import UsersList from "./UsersList";

    export default {
        name: "ChatRoom",
        components: {UsersList, ChatMessage},
        data: () => ({
            massage: '',
            messages: [],
            users: [],
            socket: io('http://localhost:8081')
        }),
        props: {
            user: {
                type: Object
            }
        },
        methods: {
            sendMessage() {
                this.socket.emit('getMessage', {
                    value: this.massage,
                    user: this.user,
                })
                this.massage = ''
            },
            initializeConnection() {
                this.socket.on('users:update', (users) => {
                    this.users = [...users]

                })
                this.socket.on('message:new', message => {
                    this.messages.push(message)
                })
            },
        },
        mounted() {
            this.socket.emit('getName', this.user.name, data => {
                if (typeof data === 'string') {
                    console.error(data)
                } else {
                    this.user.id = data.userId
                }
            })
            this.initializeConnection()
        }
    }
</script>

<style scoped>
    .header-title {
        color: #fff;
    }

    .navbar .container {
        display: block;
    }

    .side-bar-users-list {
        display: none;
    }

    .sidebar-btn-contacts, .sidebar-btn-sign-out {
        display: none;
        background: #007bff;
        border: none;
        padding: 4px 10px;
        font-size: 14px;
        top: -6px
    }

    .sidebar-btn-contacts {
        position: absolute;
        left: 0;
    }

    .sidebar-btn-sign-out {
        position: absolute;
        right: 0;
    }

    svg {
        font-size: 24px;
        display: block;
        margin-left: 18px;
    }

    .btn-primary:focus {
        box-shadow: none;
        background: #007bff;
    }

    .card, .users-list {
        overflow-y: auto;
        height: 70vh;
    }

    .card {
        padding: 10px;
    }

    @media (max-width: 768px) {
        .side-bar-users-list {
            display: block;
        }

        .sidebar-btn-contacts {
            display: block;
        }

        .users-list {
            display: none;
        }

        .form-inline {
            position: absolute;
        }
    }
</style>
