<template>
    <div class="message-text mt-2" :class="{'owner': message.id === user.id}">
        <div>{{message.name}}</div>
        <span>{{message.text}}</span>
    </div>
</template>

<script>
    export default {
        name: "ChatMessage",
        props: ['message', 'user']
    }
</script>

<style scoped>
    .message-text {
        padding: 5px 10px;
        width: fit-content;
        border-radius: 10px;
        background: #f8f9fa;
        box-shadow: 5px 5px 5px rgba(122, 122, 122, 0.5);
    }

    .message-text.owner {
        background: #007bff;
        margin-left: auto;
        color: #fff;
    }

    .form-control:focus {
        box-shadow: none;
        border-color: #ced4da;
    }
</style>
