<template>
    <div class="container">
        <div class="d-flex justify-content-center">
            <b-card-group>
                <b-card
                        bg-variant="primary"
                        text-variant="white"
                        header="Enter your name"
                        class="text-center">
                    <b-form-input
                            placeholder="Enter your name"
                            v-model="user.name"
                            class="mb-3"
                    ></b-form-input>
                    <b-button
                            :to="{name: 'chat', params:{user}}"
                            pill
                            variant="primary"
                            :disabled="user.name.length === 0"
                    >
                        Enter
                    </b-button>
                </b-card>
            </b-card-group>
        </div>
    </div>
</template>

<script>
    export default {
        name: "StartForm",
        data: () => ({
            user: {
                name: ''
            }
        })
    }
</script>

<style scoped>

    .card-group {
        margin-top: 15%;
    }

    .form-control:focus {
        box-shadow: none;
        border-color: inherit;
    }

    .btn-outline-secondary {
        color: #fff;
    }
</style>
