<template>
    <b-list-group>
        <b-list-group-item class="d-flex align-items-center">
            <b-avatar class="mr-3"></b-avatar>
            <span class="mr-auto">{{user.name}}</span>
        </b-list-group-item>
    </b-list-group>
</template>

<script>
    export default {
        name: "UsersList",
        props: ['user']
    }
</script>
